/* ---------- GLOBAL --------- */

@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor1: #FBFACE;
    --cor2: #F05544;
    --cor3: #B4B5B6;
    --cor4: #554840;
}

a{
    text-decoration: none;
    color: var(--cor2);
}


/* ---------- BODY --------- */

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- CONTAINER --------- */

div#container{
    width: 90%;
    min-width: 720px;
    max-width: 1400px;

    height: 70%;

    background-color: var(--cor1);

    display: flex;
    flex-direction: row;

    text-align: center;
}

/* ---------- IMAGEM (DIREITA) --------- */

#arte{
    background-image: url(../imagens/calendario4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
}

/* ---------- TITULO E PARÃGRAFO --------- */

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.8em;
    color: var(--cor4);
    font-weight: 500;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px var(--cor4) ;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    color: var(--cor4);
    font-weight: 500;
    margin-top: 10px;
    text-shadow: 1px 1px 1px var(--cor4) ;
}

/* ---------- FORMULARIO --------- */

/* ---------- FORMULARIO (ESQUERDA) --------- */

#formulario{
    background-color: var(--cor1);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

input[type="email"]{
    width: 90%;
    height: 30px;
    max-width: 480px;
    padding: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 8px;
}

input[type="password"]{
    width: 90%;
    height: 30px;
    max-width: 480px;
    padding: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 8px;
}

#continuar_esquecer{
    width: 90%;
    height: 40px;
    max-width: 480px;
    padding: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--cor4);
}

div#continuar_esquecer > div{
    margin-right: 12px;
}

input[type="submit"]{
    width: 90%;
    height: 40px;
    max-width: 480px;
    margin-top: 3px;
    background-color: darkgreen;
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    border-radius: 8px;
}

#nao_possui_conta{
    width: 90%;
    max-width: 480px;
    height: 40px;
}

